<!DOCTYPE html>
<html  >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.1.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Secure your investment portfolio ">
  
  
  <title>Coin analytica</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/animatecss/animate.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-sbikyV69G4" once="menu" id="menu2-s">
      
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div style="padding: 0; margin-left: -2px; width: 100vw; border: transparent;" >
            <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#ffffff" locale="en" font-color="#ff6666"></coingecko-coin-price-marquee-widget>
        </div>
        <div class="container-fluid">
            
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo.png" alt="" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Coin Analytica</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="/about">
                            About Us</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/contact">Contact</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/faq">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="/users/login">Log In</a>
                    </li></ul>
                
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-secondary display-4" href="/users/register">Sign Up</a></div>
            </div>
        </div>
    </nav>
</section>

<section class="header1 cid-sbikNlWli4 mbr-fullscreen" id="header1-u">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(27, 27, 27);"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong style="color: white;">The best investment plans</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-6" style="color: rgb(255, 255, 255);font-size: 1.4rem;">
                    We implement best practices of trading through our structured operations, while offering flexibility in our investment plans.</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">get started</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sbikVZvxER" id="features16-x">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>OUR AIM</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Our goal is to maximize investors return and minimize any potential loss by applying effective principles in disciplined and physiological processes. We buy and sell securities relying on facts and not speculation to purchase high return, predictable investments at significant discounts.</p>
                            <br>
                            <p class="mbr-text mbr-fonts-style mb-4 display-4">
                                Finally our aim is to utilize our expertise and knowledge which will benefit our clients and the users of our services.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/login">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/sq2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features24 cid-sbipc6mdJp" id="features1-1h">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>  Why people around the world choose us</strong>
                </h3>
                <br><br>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-idea mobi-mbri" style="font-size: 100px;"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>True financial freedom</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Our teams deliver high-quality strategic and creative financing solutions to our clients.</p>
                    </div>
                </div>
            </div>
           
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-rocket mobi-mbri" style="font-size: 100px;"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Fast Payouts</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">All requests are processed automatically, and money is instantly sent to the details you specify.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-protect mobi-mbri" style="font-size: 100px;"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Security is who we are. </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Coin Analytica is led by security professionals with decades of experience. <span><a href="/security-layers" style="color: #ff6666;">Read</a> </span>  more about our approach to.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-globe-2 mobi-mbri" style="font-size: 100px;"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Coin Analytica is trusted</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We’re early industry pioneers and have been around since 2011, successfully processed more than 8 million dollars in transactions and available in over 40 countries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sbikRpIReN" id="features4-v">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Sectors we Invest</strong></h4>
                <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">These are few places we are passionate and invest clients money into.</h5>
            
        </div>
        <div class="row mt-4">
            
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product3.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Real Estate</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            Real Estate and Hospitality </h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7"> One of the most unique and attractive advantages of real estate is that it is improvable. Because real estate is a tangible asset made of wood, brick, concrete, and glass you can improve the value of any property with some “elbow grease” and “sweat equity”. </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="assets/images/pdf1.pdf" class="btn item-btn btn-secondary display-7" target="_blank">See More &#128206;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product1.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Cryptocurrency </strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Cryptocurrency and blockchain</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">The emergence of cryptocurrencies as an economic instrument has been one of the biggest tech and finance industry trends of the past five years.<br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="assets/images/pdf2.pdf" class="btn item-btn btn-secondary display-7" target="_blank">See More &#128206;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product2.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Fashion</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Fashion and Apparels</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7"> Fashion industry provides good opportunities for investment either you are investing in to start your own fashion house or you are just looking to invest in luxury investment pieces and in vintage. .</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/users/register" class="btn item-btn btn-secondary display-7" target="_blank">See More &#128206;</a></div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="features5 cid-sbippjfzJz" id="features6-1i">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>Professional Support</strong>
                        </h5>
                        <p  class="mbr-text mbr-fonts-style mb-3 display-4">We have the best support team you can think of. We are always here to help you out in your investment process.</p>
                        <div class="mbr-section-btn"><a href="/users/login" class="btn btn-secondary display-4">Learn more</a></div>
                    </div>
                    <div class="img-wrapper img align-center">
                        <img src="assets/images/product6.jpg" alt="" title="">
                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>Experienced Management</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                          We are equipped with the best professionals in the investment system. We have over 7 years of experienced team of experts.</p>
                        <div class="mbr-section-btn"><a href="/users/login" class="btn btn-secondary display-4">Learn more</a></div>
                    </div>
                    <div class="img-wrapper img align-center">
                        <img src="assets/images/product7.jpg" alt="" title="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing2 cid-sbimhZK80O" id="pricing2-19">
    

    
    <div class="container">
        <h<div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Investment Plans</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">get a head start with your investment portfolio</h5>
        </div> <br><br>  
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Starter plan</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 h2"><strong>$100 - $950</strong></p>
                          
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <br><br>
                                </li><li class="list-group-item h3">10% Return Per week
                                </li><li class="list-group-item h4">8 Weeks of Pay <br> (2 Month)</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center"><a href="/users/login" class="btn btn-secondary display-4">Get started</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>One year contract Investment strategy</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 h2"><strong>$1,000 - Unlimited</strong></p>
                            </p>
                            <p class="price-term mbr-fonts-style mb-3 display-7"><strong>most popular</strong>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <br><br>
                                </li><li class="list-group-item h3">5% Return Per week 
                                </li><li class="list-group-item h4">48 Weeks of Pay (12 Months) </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center"><a href="/users/login" class="btn btn-secondary display-4">Get started</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Half Re-invest Strategy</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 h2"><strong>$1,000 - $10,000</strong></p>
                           
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                               <br><br>
                                </li><li class="list-group-item h3">10% Return Per Week 
                                </li><li class="list-group-item h4">8 Weeks of Pay <br>  (2 Months)</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center"><a href="/users/login" class="btn btn-secondary display-4">Get started</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>special plan Investment Strategy</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 h2"><strong>$5,000 - 100,000</strong></p>
                            <p class="price-term mbr-fonts-style mb-3 display-7"><strong>best deal</strong>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-4">
                               <br><br>
                                <li class="list-group-item h3">15% Return Per Week</li>
                                <li class="list-group-item h4">24 Weeks of Pay <br>  (6 Months)</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center"><a href="/users/login" class="btn btn-secondary display-4">Get started</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3 mt-2">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>VIP Investment Strategy</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 h2"><strong>2 BTC - 10 BTC</strong></p>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <br><br>
                                </li><li class="list-group-item h3">20% Return Per Week 
                                </li><li class="list-group-item h4">6 Months of Pay</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center"><a href="/users/login" class="btn btn-secondary display-4">Get started</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video4 cid-sbilpXyF2q" id="video4-10">
    
    <div class="container">
        <div class="title-wrapper mb-5">
            <h5 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                <strong>Why We Have chosen Blockchain as the preferred mode payments</strong>
            </h5>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" s src="https://www.youtube.com/embed/lD9KAnkZUjU" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
                        <strong>How it Works: Blockchain</strong>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Bitcoin is one of the most important inventions in all of human history. For the first time ever, anyone can send or receive any amount of money with anyone else, anywhere on the planet, conveniently and without restriction. It’s the dawn of a better, more free world.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team1 cid-sbilzGFbid" id="team1-11">
    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong> Meet our Executives</strong>
                </h3>
                
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/team1.jpg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>kennedy vines</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>CEO and Founder</strong>
                        </h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            I started Coin analytica 7years ago, for the sole reason of making investing safe, fast and most fo all profitable.
                        </p>
                        <!-- <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div> -->
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/team2.jpg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Sarah Palmer</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Chief Financial Analyst</strong>
                        </h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            We work very hard at analyzing and getting the best trade option out there on the market for our clients..
                        </p>
                        <!-- <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div> -->
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/team3.jpg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Allen Swift</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>UX/UI Developer</strong>
                        </h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            We try create really good, friendly Egronomic User interface, thus making it easy for users to invest and trade.
                        </p>
                        <!-- <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div>
                         -->
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>
<!-- 
<section class="clients2 cid-sbilRmPdDy" id="clients2-18">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/1.png" alt="">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Our partner</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            No special actions required, all sites you make with Mobirise are mobile-friendly.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary-outline display-4" href="/users/login">Learn More</a></div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/1.png" alt="">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Our partner</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Use Mobirise website building software to create multiple sites for your clients.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary-outline display-4" href="/users/login">Learn More</a></div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/1.png" alt="">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Our partner</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Create multiple pages. Don't forget to set links to your pages after creating them.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary-outline display-4" href="/users/login">Learn More</a></div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <img src="assets/images/1.png" alt="">
                    </div>
                    <div class="card-box align-center">
                        
                        <h5 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Our partner</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Each theme in the Mobirise site builder contains a set of unique blocks.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary-outline display-4" href="/users/login">Learn More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="testimonials2 cid-sbilCGai46" id="testimonials2-12">
    
    
    <div class="container-fluid">
        <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
            <strong>Testimonials</strong>
        </h3>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7"> It has been a pleasure working with the people at Coin Analytica.
                    They have been straight down-the-line from when we first started talking and helped   me to deliver a refinancing package that has provided a platform for growth.   
               </p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/ii.jpg" alt="">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Linda lokiji Smith</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>Director, ShibeMint.com</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">
                    Es ist immer eine Freude, gleichgesinnte Seelen in jeder Arena zu finden, 
                    in der Sie sich kreuzen, und das galt für alle, denen ich bei Coin Analytica. begegnet bin.</p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/i.jpg" alt="">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Martin heitto</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>CEO BankToTheFuture.com</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">After having a negative experience with another Broker, I found Coin Analytica Ltd.  Coin Analytica transformed my investment experience! and made sure we understood how 
                    the system works also what our priorities were in terms of retirement  plan and investment income. Couldn’t have asked for a better broker! </p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/iii.jpg" alt="">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>James vandecamp</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>CTO Blue Ocean Gaming</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">It is evident they place a high value on client relationships and their one-to-one 
                    approach has suited my requirements perfectly. Moreover, the team works fluidly
                   alongside other advisers to make sure they provide an on-going and dependable service.</p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/iv.jpg" alt="">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Jessica heek</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>Freelancer</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content2 cid-sbioXvyL9Q" id="content2-1g">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Our Blog</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Read the recent blog posts about
                Coin Analytica</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product5.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="#top" class="text-black">Using Script Descriptors and PSBT at Coin Analytica</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            <strong>jonathan miles </strong><em> 10-9-2020</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">This is a cross-post of our recent Bitcoin Optech Field Report. Coin Analytica leverages two technologies in its wallet software: Partially Signed Bitcoin Transactions</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-secondary display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/leeds.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="#top" class="text-black">Leading the way in Leeds </a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Ann
                                Brown</strong><em>&nbsp;29-09-2020</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Coin Analytica is the first company to legally provide cryptocurrencies services in Leeds<br>
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-secondary display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product4.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="#top" class="text-black">Announcing Our $5.7M Round</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Jessica Frasier
                            </strong><em>08-08-2020</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Today I’m thrilled to announce Coin Analytica $5.7 million seed fundraising round led by Polychain Capital, with Slow Ventures, Castle Island Ventures, DG Lab Fund, Cygni Capital</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-secondary display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="footer1 cid-sbilHKgKN0" once="footers" id="footer1-14">

    
    
    <div class="container">
        <div class="row mbr-white">
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Contact </strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">mail@coinanalytica.com</li>
                    <li class="mbr-text item-wrap">+44 7441 438 503</li>
                    <li class="mbr-text item-wrap">Leeds, United Kingdom</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Legal</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">

                    <a href="/privacy-policy" class="mbr-text item-wrap"> <span style="color: #ff6666;">&gt;</span> Privacy policy</a><br>
                    <a href="/term-and-condition" class="mbr-text item-wrap"> <span style="color: #ff6666;">&gt;</span>  Terms and condition</a><br>
                    <a href="refund-policy" class="mbr-text item-wrap"><span style="color: #ff6666;">&gt;</span>  Refund policy</a><br>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Quick links</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <a href="/" class="mbr-text item-wrap"><span style="color: #ff6666;">&gt;</span>  Home </a> <br>
                    <a href="/contact" class="mbr-text item-wrap"><span style="color: #ff6666;">&gt;</span>  Contact</a><br>
                    <a href="/faq" class="mbr-text item-wrap"><span style="color: #ff6666;">&gt;</span>  Help Desk</a><br>
                    <a href="/about" class="mbr-text item-wrap"><span style="color: #ff6666;">&gt;</span> About Us</a><br>
                    <a href="/what-is-bitcoin" class="mbr-text item-wrap"><span style="color: #ff6666;">&gt; </span> What is Bitcoin</a><br>
                    <a href="/how-to-buy-bitcoin" class="mbr-text item-wrap"><span style="color: #ff6666;">&gt; </span> How to buy bitcoin</a><br>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>About</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-4">
                    Our company leads the industry in wealth management. We provide independent IRA and broker services that are powered by over 7 years of industry experience.</p>
               
               
            </div>
            
        </div>
    </div>
</section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/web/assets/cookies-alert-plugin/cookies-alert-core.js"></script>  <script src="assets/web/assets/cookies-alert-plugin/cookies-alert-script.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>  <script src="assets/playervimeo/vimeo_player.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
<input name="cookieData" type="hidden" data-cookie-customDialogSelector='null' data-cookie-colorText='#424a4d' data-cookie-colorBg='rgba(234, 239, 241, 0.62)' data-cookie-textButton='Continue' data-cookie-colorButton='#ff8a8a' data-cookie-colorLink='#424a4d' data-cookie-underlineLink='true' data-cookie-text="We use cookies to give you the best experience. Read our <a href='privacy.html'>cookie policy</a>.">
    <input name="animation" type="hidden">
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5fbb967c920fc91564c9b5bb/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>